header{ 
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav{
    display:flex;
    align-items: center;
}

h5{
    font-family: Arial;
}
.section1{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: gray;
}

img{
    width:90px;
    height:90px;
    display: flex;
  
}

.section2{
    display:flex;
    flex-flow:row wrap;
   justify-content: space-evenly;
   
    
}

column{
    flex-basis: 40%;
}

.column1{
    min-width: 220px;
    flex:1;
}

.column2{
    flex:1;
}

.p1{
    font-family: Arial;
    /*width:30px;*/
   
    
    
}

.p2{
    
}

a{
    padding: 0px 2px;
}

p{
    padding: 0px 4px;
}